:root {
  --bg-color: #0d1f24;
  --bg-color-sec: #051b21;
  --main-color: #ff4500;
  --font-color: #ffffffdc;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

html {
  font-size:60%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--font-color);
}

/* Header properties */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 12% 4rem;
  background: var(--bg-color-sec);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.logo {
  font-size: 3rem;
  color: var(--font-color);
  font-weight: 550;
  cursor: pointer;
  transition: 0.2s ease;
}
.logo:hover {
  span {
    color: var(--main-color);
    transition: 0.2s ease;
  }
}

.logo span {
  text-shadow: 0 0 25px var(--main-color);
}

.navbar a {
  font-size: 1.8rem;
  color: var(--font-color);
  margin-left: 3rem;
  font-weight: 600;
  transition: 0.2s ease;
}
.navbar a:hover {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}

/* Home properties */
section {
  min-height: 100vh;
  padding: 10rem 12% 10rem;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
  justify-content: center;
  margin-top: 3rem;
}

.my-photo {
  border-radius: 50%;
}

.my-photo img {
  position: relative;
  top: 3rem;
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.3s ease-in-out;
}

.my-photo img:hover {
  box-shadow: 0 0 15px var(--main-color),
              0 0 30px var(--main-color),
              0 0 45px var(--main-color);
  transition: 0.3s ease-in-out;
}

.profession-animation {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

.time-animation {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

.profession-animation span, .time-animation span {
  position: relative;
}
.profession-animation span::before {
  content: "Full Stack Developer";
  color: var(--main-color);
  animation: words-profession 20s infinite;
}
.time-animation span::before {
  content: "";
  color: var(--main-color);
  animation: time-profession 20s infinite;
}

.profession-animation span::after {
  content: "";
  background-color: var(--bg-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: px solid var(--bg-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid var(--main-color);
  }
}
@keyframes words-profession {
  0%,
  20% {
    content: "Full Stack Developer";
  }
  21%,
  40% {
    content: "Frontend Developer";
  }
  41%,
  60% {
    content: "Software Engineer";
  }
  61%,
  80% {
    content: "SysEng Student";
  }
  81%,
  100% {
    content: "Data Engineer";
  }
}
@keyframes time-profession {
  0%,
  20% {
    content: "Full Stack Developer";
  }
  21%,
  40% {
    content: "Frontend Developer";
  }
  41%,
  60% {
    content: "Software Engineer";
  }
  61%,
  80% {
    content: "SysEng Student";
  }
  81%,
  100% {
    content: "Data Engineer";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px)
  }
}

/* Education section */
.education {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formal-education {
  margin-top: 1.5rem;
}
.certs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

/* Experience section */
.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experience ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
  gap: 2rem;
}
.experience ul li {
  list-style-type: none;
  color: var(--main-color);
  font-size: 6rem;
}

/* Testimonials section */
.testimonial-card img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 2px solid var(--main-color);
  box-shadow: 0 0 10px var(--main-color);
  margin-bottom: 20px;
}

/* Contact section */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 5rem auto;
  margin-top: 2rem;
  text-align: center;
}

.contact form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 2rem;
  font-size: 1.5rem;
  color: var(--font-color);
  background: var(--bg-color);
  border-radius: 1rem;
  border: 2px solid var(--main-color);
  margin: 1.5rem 0;
  resize: none;
}

.contact form .input-box input:focus,
.contact form textarea:focus {
  box-shadow: 0 0 15px var(--main-color);
  transition: 0.2s ease;
}

.contact form .btn {
  margin-top: 2rem;
}

/* footer settings */
.footer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: var(--bg-color-sec);
}

.footer .social-icons {
  display: inline-block;
  text-align: center;
  color: var(--main-color);
  width: 100%;
}

.footer .copyright {
  text-align: center;
  font-size: 1.5rem;
  
}